body{background-color:rgb(240, 240, 240);
    font-family: 'Syne Mono', monospace;;
    max-width:100vw;
    max-height:100vh;
    padding:0;
    margin:0;
    position:absolute;
    overflow:hidden;
    color:#666;
    font-family: 'Permanent Marker', cursive;}

:root{
    --main-color: linear-gradient(90deg, #dfb4ff 0%,#ffe59c 100%)
}
.mesa{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height:90vh;
}




 /*              esta es la parte del inicio                */
.inicio{
    height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    background:var(--main-color);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.input{
    width:300px;
    height:110px;
    font-size:30PX;
    border-radius: 20px;
    outline: none;
    transition:width .3s, height .3s, box-shadow .3s;
    border:none;
    margin:20px;

}
.input:focus-visible{
    outline:none;
    border:none;
}
.input:focus{    
    width:310px;
    height:120px;
    box-shadow:0 0 5px #666
}
.normal{
    margin-bottom:50px;
}

/* cartas   */

.carta{
    width:100px;
    height:100px;
    border-radius:20px;
    background:var(--main-color);
    transform-style: preserve-3d;
    transition: transform .3s;
    margin:20px;
}
.contenido{
    color:#d99;
    transform:rotatey(180deg);
    font-size: 50px;
    border:3px double #aaa;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    backface-visibility: hidden;
    background-color:#edd;
}
.completa{
    animation-name: completa;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.abierta{
    transform:rotatey(180deg);
}



/**/

@keyframes desaparecer {
0%{margin-top:0%}
25%{margin-top:-60vh}
100%{margin-top:-100vh}
}
@keyframes completa {
    0%{transform:rotateY(180deg)}
    100%{transform:rotateY(1170deg)}
}

.desactivado{
    animation-name: desaparecer;
    animation-duration: 4s;
    animation-fill-mode:both;
}
p{
    font-size:200px;
    line-height: 50px;
}

/*    CONTADOR          */


.contador{
    height:7vh;
    width:200px;
    background-color:#ddd;
    margin-left:15px;
    color:#888;
    font-size:55px;
    text-align: center;
    border-radius:30px;
    border:7px double #ccc
}
.minutero , .segundero {
    display:inline-block
}
.vidas{
    width:7vh;
    height:7vh;
    background-color:#ddd;
    margin-left:15%;
    color:#888;
    font-size:55px;
    text-align: center;
    border-radius:30px;
    border:7px double #ccc
}
.atajo{
    width:7vh;
    height:7vh;
    background-color:#ddd;
    color:#888;
    font-size:40px;
    text-align: center;
    border-radius:50%;
    margin-left:35%;
    padding-top:5px;
    position:absolute;
    right:15px;
    top:10px;
}
.encabezado{
    width:100vw;
    height:10vh;
    background:var(--main-color);
    border-bottom:5px inset #666;
    display:flex;
    align-items: center;
}
@media screen and (min-width:600px) {
    .vidas{
        margin-left:34%;
    }
}
.niveles{
    position:absolute;
    top:50px;
    right:50px;
    width:200px;
    background-color:#aaa;
    border-radius:20px;
    overflow:hidden;
    max-height:0px;
}
strong{display:block;
    font-size:45px;
    text-align: center;
    line-height: 63px;;
}

@keyframes atajo {
    from{max-height:0px;}
    to{max-height:250px}
}

.oculto{
    animation-name:atajo;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
input{
    font-family: 'Permanent Marker', cursive;}